.form{
  width: 50%;
  background: rgb(181, 114, 226);
  border-radius: 10px;
  padding: 10px;
  height: 220px;
}
.rotate{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  flex: 1 0 auto;
  
}
label{
  font-weight: bold;
  margin: 10px;
}
input{
  border: none;
  outline: none;
  background: white;
  border-radius: 5px;
  height: 17px;
  /* width: 280px; */
  /* flex-basis: 200px; */
 
  margin: 10px;
  padding: 20px;
  font-size: 20px;
}
input::placeholder{
  padding-left: 15px;
}
button{
  margin-left: 290px;
  margin-top: 60px;
  border-radius: 5px;
  border: none;
  outline: none;
  background: rgb(33, 33, 33);
  color: white;
  cursor: pointer;
  padding: 10px;
}
.shrink{
  width: 180px;
}